html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: rgb(50, 146, 202);
  margin-bottom: 130px;
}
hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

/* nav bar */
.bg-menu-color{
	background: #4441f4
}
.home{
  margin-left: 69px;
  height: 59px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid;
  box-shadow: 5px 5px;

  font-family: "Lucida Bright", serif;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  background: #2696d6;
}
.home a{
	color: white;
	text-shadow:1px 1px 1px rgba(0,0,0,.5);
}
.home a:hover{
	color:white;
	text-shadow:2px 2px 2px rgba(0,0,0,.5);
	text-decoration:none;
}
.dropdown-menu.show{
	background-color: #4441f4 !important;
	border:0px !important;
}
.dropdown-item{
  color: rgb(184, 223, 235);
}
.dropdown-item:hover{
	background-color: transparent !important;
	color: rgba(255, 255, 255, 0.952) !important;
}
@media only screen and (max-width: 767px) {
  .home {
    margin-left: 0;
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px solid;
    box-shadow: 0px 0px;
    width: 100%;

    font-family: "Lucida Bright", serif;
    font-size: 33px;
    font-weight: bold;
    color: #fff;
    background: #2696d6;
  }
}

/* description */
.description-title {
  margin-bottom: 15px;
  font-family: "Lucida Fax";
  font-size: 33px;
  font-weight: none;
  color: #defdfc;
}
.description-content {
  margin-top: 30px;
  padding: 30px;
  background-color:rgb(30, 74, 196);
  border: 1px solid;
  box-shadow: 5px 5px;
}
.description-content > p {
  padding-top: 20px;
  font-size: 16px;
  line-height: 30px;
  color:  #defdfc;
}
.description-current{
	float:left;
  width: 100%;
  height: auto;
}

#description-image {
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-right: 20px;
}
.description-text {
  padding-bottom: 15px;
  color:  #defdfc;
}

/* visual */
#visual-section {
  margin-top: 30px;
  border: 1px solid;
  box-shadow: 5px 5px;
  width: 100%;
  padding: 30px 30px 40px;
  background-color: rgb(30, 74, 196);
}
.visual-title {
  margin-bottom: 15px;
  font-family: "Lucida Fax";
  font-size: 23px;
  font-weight: none;
  color: #defdfc;
}
.visual-photo {
  width: 140px;
  height: 140px;
}
.visual-photo:hover {
  opacity: 0.5;
}
.visual-photo.active {
  border: 10px solid rgb(0, 0, 0);
}
#images {
  padding-top: 15px;
  text-align: center;
}

/* comparison */
.comparison-image{
	max-width:100%;
	padding:2px;
}
.comparison-image:hover {
  opacity: 0.5;
}
.comparison-title {
  margin-bottom: 10px;
  text-align: center;
  font-family: "Lucida Fax";
  font-size: 20px;
  font-weight: bold;
  color:  #defdfc;
}

/* footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 30px;
  background-color:  #4441f4;
}
.text-footer {
  margin-top: 15px;
  color: rgb(255, 255, 255);
}